@inject HttpClient Http
@inject IJSRuntime JS
@inject GospelReachCapstone.Services.FirebaseConfigService FirebaseService
@inject ToastService _toast

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(HomeLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(HomeLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override async Task OnInitializedAsync()
    {
        bool isOnline = await JS.InvokeAsync<bool>("networkHelper.isOnline");

        if (!isOnline)
        {
            _toast.AddNotification("error", "Connection Error", "Check your internet connection");
            return;
        }

        await FirebaseService.LoadConfig(Http);
        await JS.InvokeVoidAsync("initializeFirebase", FirebaseService.Config);
    }
}
