@page "/membermanagement"
@layout LandingLayout
@inject GospelReachCapstone.Services.FirestoreService Firestore
@using GospelReachCapstone.Models
@inject IJSRuntime _js
@inject GospelReachCapstone.Services.GeneralFunctions _gen
@using System.Text.RegularExpressions

<PageTitle>Member Management</PageTitle>


<div class="page">
    <!--Add Member Model-->
    <div @onclick="ToggleModal" class="addMemberModal @(isAddModalVisible ? "show" : "")">
        <div class="addMember" @onclick:stopPropagation>
            <h4 class="fw-bold">
                @title
            </h4>
            <p style="font-size:14px;">Create and Manage Members.</p>
            
            <div class="input mt-3">
                <div class="d-flex align-items-center gap-2">
                    <p>First Name</p>
                    <p class="text-danger fw-bold @(validFirstname ? "d-none" : "")" style="font-size: 12px; padding: 0; margin: 0">This field is required.</p>
                </div>
                
                <input spellcheck="false" @bind="member.FirstName" @onblur="(() => CheckIfValid(nameof(member.FirstName)))" type="text" class="form-control p-2 mt-2 @(validFirstname ? "" : "border-danger")" placeholder="First Name" />
            </div>

            <div class="input mt-3">
                <div class="d-flex align-items-center gap-1">
                    <p>Middle Name</p>
                    <p style="font-size: 12px; padding: 0; margin: 0; color:gray;">(optional)</p>
                </div>
                <input spellcheck="false" @bind="member.MiddleName" type="text" class="form-control p-2 mt-2" placeholder="Middle Name" />
            </div>

            <div class="input mt-3">
                <div class="d-flex align-items-center gap-2">
                    <p>Last Name</p>
                    <p class="text-danger fw-bold @(validLastName ? "d-none" : "")" style="font-size: 12px; padding: 0; margin: 0">This field is required.</p>
                </div>
                <input spellcheck="false" @bind="member.LastName" @onblur="(() => CheckIfValid(nameof(member.LastName)))" type="text" class="form-control p-2 mt-2" placeholder="Last Name" />
            </div>

            <div class="input mt-3">
                <div class="d-flex align-items-center gap-2">
                    <p>Email</p>
                    <p class="text-danger fw-bold @(validEmail ? "d-none" : "")" style="font-size: 12px; padding: 0; margin: 0">@emailError</p>
                </div>
                <input spellcheck="false" @bind="member.Email" @onblur="(() => CheckIfValidEmail())" type="text" class="form-control p-2 mt-2" placeholder="Email" />
            </div>

            <div class="input mt-3">
                <div class="d-flex align-items-center gap-1">
                    <p>Contact</p>
                    <p style="font-size: 12px; padding: 0; margin: 0; color:gray;">(optional)</p>
                </div>
                <input spellcheck="false" @bind="member.Contact" type="text" class="form-control p-2 mt-2" placeholder="Contact Number" />
            </div>

            <div class="userFields mt-3">
                <div class="input">
                    <p>Birthdate</p>
                    <input @bind="dateOfBirth" type="date" class="form-control p-2 mt-2" />
                </div>

                <div class="input">
                    <p>Date Of Soldiership</p>
                    <input @bind="dateOfSoldiership" type="date" class="form-control p-2 mt-2" />
                </div>
            </div>

            <div class="userFields mt-3">
                <div class="input">
                    <p>Classification</p>
                    <select @bind="member.Classification" class="form-select p-2 mt-2">
                        <option value="Soldier">Soldier</option>
                        <option value="Junior Soldier">Junior Soldier</option>
                        <option value="Adherent">Adherent</option>
                    </select>
                </div>

                <div class="input">
                    <p>Status</p>
                    <select @bind="member.Status" class="form-select p-2 mt-2">
                        <option value="Active">Active</option>
                        <option value="InActive">InActive</option>
                    </select>
                </div>
            </div>
            

            @if (title == "Add Member")
            {
                <div class="addOptions mt-5 d-block d-md-flex gap-2 justify-content-end">
                    <button class="btn btn-outline-light px-4 py-1 rounded rounded-pill border border-2" @onclick="ToggleModal">Cancel</button>
                    <button class="btn btn-primary px-4 py-1 rounded rounded-pill text-white" @onclick="addMember">Create</button>
                </div>
            }
            else
            {
                <div class="addOptions mt-5 d-block d-md-flex gap-2 justify-content-end">
                    <button class="btn btn-outline-light px-4 py-1 rounded rounded-pill border border-2" @onclick="ToggleModal">Cancel</button>
                    <button class="btn btn-primary px-4 py-1 rounded rounded-pill text-white" >Update</button>
                </div>
            }

        </div>
    </div>

    <!--Header Section-->
    <div class="header d-block d-md-flex flex-md-row align-items-center justify-content-between mb-5">
        <div>
            <h4 class="m-0 fw-bold">Member Management</h4>
            <p class="m-0 c2" style="font-size: 14px">Add, update, and manage church members.</p>
        </div>

        <div>
            <button class="btn btn-primary px-4 py-2 text-white" @onclick="ToggleModal">Add Member</button>
        </div>
        
    </div>

    <!--Table Section-->
    <div class="card w-100 mb-3 cards">

        <!--Search Section-->
        <div class="position-relative">
            <i class="bi bi-search position-absolute c2" style="top: .5rem; left: .75rem; font-size: 18px;"></i>
            <input @bind="searchstring" @bind:event="oninput" type="text" class="form-control border search" placeholder="Search members..." />
        </div>
        <p class="mb-4 ms-1 @(isLoad ? "" : "d-none")"><em>@load</em></p>

        <div class="table-container mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th class="thead">First Name</th>
                        <th class="thead">Middle Name</th>
                        <th class="thead">Last Name</th>
                        <th class="thead">Email</th>
                        <th class="thead">Contact</th>
                        <th class="thead">Birthdate</th>
                        <th class="thead">Date of Soldiership</th>
                        <th class="thead">Classification</th>
                        <th class="thead">Status</th>
                        <th class="thead">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var items in FilteredMember)
                    {
                        <tr class="table-row">
                            <td class="table-cell c2">@items.FirstName</td>
                            <td class="table-cell c2">@items.MiddleName</td>
                            <td class="table-cell c2">@items.LastName</td>
                            <td class="table-cell c2">@items.Email</td>
                            <td class="table-cell c2">@items.Contact</td>
                            <td class="table-cell c2">@items.Birthdate</td>
                            <td class="table-cell c2">@items.DateOfSoldiership</td>
                            <td class="table-cell c2">@items.Classification</td>
                            <td class="table-cell c2">@items.Status</td>

                            <td class="table-cell d-flex gap-2" style="padding: 24px 24px; border-bottom: none;">
                                <!--Edit-->
                                <div class="d-flex align-items-center justify-content-center gap-1w-auto border" style="border-radius: 10px; padding: 5px 12px;">
                                    <a href="" class="text-decoration-none" style="font-size: 13px;"><span><i class="bi bi-pencil-square"></i></span> Edit</a>
                                </div>

                                <!--Delete-->
                                <button class="btn btn-danger text-white" style="border-radius: 10px; padding: 5px 12px; font-size:13px;"><span><i class="bi bi-trash text-white"></i></span>Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!--Quick Stats Section-->
    <div class="d-flex flex-column mt-4">
        <div class="d-md-flex d-block justify-content-evenly gap-4">
            <div class="card w-100 p-4 mb-3 cards d-flex flex-column align-items-center justify-content-center">
                <p class="c2 mb-2" style="font-size:14px;">Total Members</p>
                <h3 class="m-0 c2 text-primary fw-bold">@totalMembers</h3>
            </div>

            <div class="card w-100 p-4 mb-3 cards d-flex flex-column align-items-center justify-content-center">
                <p class="c2 mb-2" style="font-size:14px;">Active Members</p>
                <h3 class="m-0 c2 text-success fw-bold">@activeMembers</h3>
            </div>

            <div class="card w-100 p-4 mb-3 cards d-flex flex-column align-items-center justify-content-center">
                <p class="c2 mb-2" style="font-size:14px;">New This Month</p>
                <h3 class="m-0 c2 text-danger fw-bold">@newMembers</h3>
            </div>
        </div>
    </div>
</div>

@code{
    private bool isValid = false;
    private int totalMembers = 0;
    private int activeMembers = 0;
    private int newMembers = 0;
    private string load = "Fetching Files...";
    private bool isLoad = false;
    private List<Member> membersList = new();
    private Member member = new();
    private bool isAddModalVisible = false;
    private string title = "Add Member";
    private DateTime dateOfBirth = DateTime.Now;
    private DateTime dateOfSoldiership = DateTime.Now;
    private bool validFirstname = true;
    private bool validLastName = true;
    private bool validEmail = true;
    private string emailError = string.Empty;
    private string searchstring = string.Empty;
    private List<Member> FilteredMember => membersList.Where(u => string.IsNullOrWhiteSpace(searchstring) || u.FirstName.Contains(searchstring, StringComparison.OrdinalIgnoreCase) || !string.IsNullOrWhiteSpace(u.MiddleName) && u.MiddleName.Contains(searchstring, StringComparison.OrdinalIgnoreCase) || u.LastName.Contains(searchstring, StringComparison.OrdinalIgnoreCase) || !string.IsNullOrWhiteSpace(u.Email) && u.Email.Contains(searchstring, StringComparison.OrdinalIgnoreCase) || !string.IsNullOrWhiteSpace(u.Contact) && u.Contact.Contains(searchstring, StringComparison.OrdinalIgnoreCase) || !string.IsNullOrWhiteSpace(u.Classification) && u.Classification.Contains(searchstring, StringComparison.OrdinalIgnoreCase) || !string.IsNullOrWhiteSpace(u.Status) && u.Status.Contains(searchstring, StringComparison.OrdinalIgnoreCase)).ToList();


    protected override async Task OnInitializedAsync()
    {
        isLoad = !isLoad;
        member.Classification = "Soldier";
        member.Status = "Active";
        try
        {
            await getMembers();
        }
        catch (Exception ex)
        {
            await _js.InvokeVoidAsync("alert", "Unable to fetch Members List");
        }
        isLoad = !isLoad;
    }

    private async Task getMembers()
    {
        membersList = new();
        totalMembers = 0;
        activeMembers = 0;
        newMembers = 0;
        membersList = await Firestore.GetMembersAsync();

        if (membersList != null)
        {
            totalMembers = membersList.Count;
            activeMembers = membersList.Where(u => u.Status == "Active").Count();
        }
    }

    private async Task addMember()
    {
        try
        {
            member.Birthdate = dateOfBirth.ToString("MMM dd, yyyy");
            member.DateOfSoldiership = dateOfSoldiership.ToString("MMM dd, yyyy");
            await Firestore.AddMemberAsync(member);
            await getMembers();
            ToggleModal();
        }
        catch (Exception ex)
        {
            await _js.InvokeVoidAsync("alert", ex.Message);
        }
    }

    private void ToggleModal()
    {
        isAddModalVisible = !isAddModalVisible;
        member = new();
        title = "Add Member";
    }

    private void CheckIfValid(string fieldName)
    {
        switch (fieldName)
        {
            case nameof(member.FirstName):
                validFirstname = !string.IsNullOrWhiteSpace(member.FirstName);
                break;
            case nameof(member.LastName):
                validLastName = !string.IsNullOrWhiteSpace(member.LastName);
                break;
        }
    }

    private async Task CheckIfValidEmail()
    {
        if (string.IsNullOrEmpty(member.Email))
        {
            validEmail = true;
            emailError = string.Empty;
        }
        else
        {
            if (IsValidEmail(member.Email))
            {
                var list = await Firestore.GetMembersAsync();
                if (list != null)
                {
                    bool check = list.Any(u => u.Email == member.Email);

                    if (check)
                    {
                        validEmail = false;
                        emailError = "Email already exists.";
                        return;
                    }

                    validEmail = true;
                }

            }
            else
            {
                validEmail = false;
                emailError = "Enter valid email";
            }
        }
    }

    public bool IsValidEmail(string email)
    {
        if (string.IsNullOrWhiteSpace(email))
            return false;

        string pattern = @"^[^@\s]+@[^@\s]+\.[^@\s]+$";
        return Regex.IsMatch(email, pattern, RegexOptions.IgnoreCase);
    }
}