@page "/schedules"
@layout LandingLayout
@inject GospelReachCapstone.Services.FirestoreService _firestore
@using GospelReachCapstone.Models
@inject IJSRuntime _js
@using System.Globalization

<PageTitle>Schedule Management</PageTitle>


<div class="pages">
    <!--Add User Model-->
    <div @onclick="ToggleModal" class="addEventModal @(isAddModalVisible ? "show" : "")">
        <div class="addEvent" @onclick:stopPropagation @onclick="closeOption">
            <div class="d-flex justify-content-between">
                <div>
                    <h4 class="fw-bold">
                        @title
                    </h4>
                    <p style="font-size:14px;">Create and Manage Schedules.</p>
                </div>

                <div class="options">
                    <i class="bi bi-three-dots-vertical optionIcon cursor" @onclick="ToggleOption" @onclick:stopPropagation></i>
                    <div class="options-child" hidden="@(!isOptionVisible)">
                        <div class="cursor fsx" @onclick="ToggleUpdateUI">Edit</div>
                        <div class="cursor fsx" @onclick="(() => removeSchedule(sched.Id))">Remove</div>
                    </div>
                </div>
                
            </div>

            <div hidden="@(!isEditMode)">
                <div class="input mt-3">
                    <p>Category</p>
                    <select @bind="eventCategory" class="form-select p-2 mt-2">
                        <option value="Event">Event</option>
                        <option value="Weekly Program">Weekly Program</option>
                        <option value="Service">Service</option>
                    </select>
                </div>

                <div class="input mt-3">
                    <p>Title</p>
                    <input @bind="eventTitle"  type="text" class="form-control p-2 mt-2" placeholder="Enter Title" />
                </div>

                <div class="userFields">
                    <div class="input">
                        <p>Start Date</p>
                        <input @bind="sDate" @bind:event="onchange" @bind:after="OnChangeDate" type="date" class="form-control p-2" />
                    </div>

                    <div class="input">
                        <p>End Date</p>
                        <input @bind="eDate" type="date" class="form-control p-2" />
                    </div>
                </div>

                <div class="input mt-3">
                    <p>Location</p>
                    <input @bind="sched.Location" type="text" class="form-control p-2 mt-2" placeholder="Location" />
                </div>

                <div class="input mt-3">
                    <p>Description</p>
                    <textarea @bind="sched.Description" type="text" class="form-control p-2 mt-2" placeholder="Description" style="min-height:200px;" />
                </div>

                <div hidden="@(!isAttendanceVisible)" class="userFields">
                    <div class="input">
                        <p>Count</p>
                        <input @bind="count" type="number" min="0" class="form-control p-2" />
                    </div>

                    <div class="input">
                        <p>Seekers</p>
                        <input @bind="seekers" type="number" min="0" class="form-control p-2" />
                    </div>
                </div>
            </div>

            <!--View Modal-->
            <div hidden="@(isEditMode)">
                <div class="iconText">
                    <i class="bi bi-activity text-primary"></i>
                    <p class="fs">@sched.Category</p>
                </div>

                <div class="iconText">
                    <i class="bi bi-bookmark-check fs"></i>
                    <p class="fs">@sched.Title</p>
                </div>

                <div class="iconText">
                    <i class="bi bi-calendar-event fs"></i>
                    <p class="fs">@sched.StartDate - @sched.EndDate</p>
                </div>

                <div class="iconText">
                    <i class="bi bi-geo-alt fs"></i>
                    <p class="fs">@sched.Location</p>
                </div>

                <div class="iconText">
                    <i class="bi bi-list-columns fs"></i>
                    <textarea type="text" class="form-control border-0 bg-transparent" readonly style="min-height:200px;">@(string.IsNullOrEmpty(sched.Description) ? "N/A" : sched.Description)</textarea>
                </div>


                <div hidden="@(!isAttendanceVisible)" class="att">
                    <div class="userFields">
                        <div class="input">
                            <p>Count</p>
                            <input @bind="count" type="number" min="0" class="form-control p-2" />
                        </div>

                        <div class="input">
                            <p>Seekers</p>
                            <input @bind="seekers" type="number" min="0" class="form-control p-2" />
                        </div>
                    </div>
                    

                    <button @onclick="(() => AddOrUpdateAttendance(sched.Id, attDate))" class="btn btn-primary p-2 px-3 text-white link">Save</button>
                </div>
            </div>
            



            @if (title == "Add Schedule")
            {
                <div class="addOptions mt-5 d-block d-md-flex gap-2 justify-content-end">
                    <button class="btn btn-outline-light px-4 py-1 rounded rounded-pill border border-2" @onclick="ToggleModal">Close</button>
                    <button class="btn btn-primary px-4 py-1 rounded rounded-pill text-white" @onclick="addEvent">Create</button>
                </div>
            }
            else
            {
                <div class="addOptions mt-5 d-block d-md-flex gap-2 justify-content-md-between">
                    <i hidden="@(title == "Add Schedule" || title == "Update Details")" @onclick="ToggleAttendance" class="bi bi-plus-square text-primary m-0 p-0 fs-4 cursor"></i>
                    <div>
                        <button class="btn btn-outline-light px-4 py-1 rounded rounded-pill border border-2" @onclick="ToggleModal">Close</button>
                        <button hidden="@(!isEditMode)" @onclick="updateEvent" class="btn btn-primary px-4 py-1 rounded rounded-pill text-white">Update</button>
                    </div>
                </div>
            }

        </div>
    </div>

    <!--Header Section-->
    <div class="header">
        <div>
            <h4 class="m-0 fw-bold">Schedule Management</h4>
            <p class="m-0 c2" style="font-size: 14px">Create schedules and manages church events, activities and services.</p>
        </div>

        <div>
            <button @onclick="ToggleModal" class="btn btn-primary p-2 px-3 text-white link w-100"><i class="bi bi-plus-circle-fill text-white me-2"></i>Add</button>
        </div>
    </div>

    <!--Calendar View Section-->
    <div class="calendar-container">
        <div class="calendar-header">
            <div class="d-flex gap-2 align-items-center">
                <button class="btn today" @onclick="setDateToday">Date Today</button>
                <div class="me-2 d-flex gap-2">
                    <i class="bi bi-chevron-left text-white fs-4 icon cursor" @onclick="PreviousMonthChanged"></i>
                    <i class="bi bi-chevron-right text-white fs-4 icon cursor" @onclick="NextMonthChanged"></i>
                </div>
                <p class="text-white m-0 p-0 fs-3 fw-normal">@GetMonthName()</p>
                <p class="text-white m-0 p-0 fs-3 fw-normal">@SelectedYear</p>
            </div>
        </div>

        <div class="calendar-week">
            @foreach (var dayName in DayNames)
            {
                <div class="day-name">@dayName</div>
            }
        </div>

        <div class="calendar-grid">
            @foreach (var week in CalendarWeeks)
            {
                @foreach (var day in week)
                {
                    <div class="day-cell @(day == 0 ? "empty" : "") @(day == dayNow && month == DateTime.Now.Month && year == DateTime.Now.Year ? "day" : "")">
                        @if (day != 0)
                        {
                            <div class="day-number">@day</div>
                            <div class="day-list">
                                @foreach (var item in schedulesList.Where(u =>
                                                    new DateOnly(SelectedYear, SelectedMonth, day) >= u.StartDate &&
                                                    new DateOnly(SelectedYear, SelectedMonth, day) <= u.EndDate))
                                {
                                    var attendance = Attendances.FirstOrDefault(a =>
                                    a.ScheduleId == item.Id &&
                                    a.Date == new DateOnly(SelectedYear, SelectedMonth, day));

                                    <div class="@SwitchClass(item.Category)" @onclick="(() => OpenEdit(item.Id, new DateOnly(SelectedYear, SelectedMonth, day)))">@item.Title</div>
                                }
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>

@code {
    private List<Schedule> schedulesList = new();
    private string title = "Add Schedule";
    private string eventTitle { get; set; }
    private string eventCategory { get; set; }
    private DateOnly sDate { get; set; }
    private DateOnly eDate { get; set; }
    private bool isAddModalVisible = false;
    private Schedule sched = new();
    private string searchSched = string.Empty;
    private IEnumerable<Schedule> filteredSched => schedulesList.Where(u => string.IsNullOrWhiteSpace(searchSched) || u.Title.Contains(searchSched, StringComparison.OrdinalIgnoreCase)).ToList();

    public record MonthOption(int Value, string Name);
    private List<MonthOption> Months { get; set; }
    // private int Years = DateOnly.FromDateTime(DateTime.Now).Year;
    private string[] DayNames { get; set; } = CultureInfo.CurrentCulture.DateTimeFormat.AbbreviatedDayNames;

    private int SelectedMonth { get; set; }
    private int SelectedYear { get; set; }

    private List<List<int>> CalendarWeeks = new();
    private int month = DateTime.Now.Month;
    private int year = DateTime.Now.Year;
    private int dayNow = DateTime.Now.Day;

    // Attendance storage
    private List<Attendance> Attendances = new();
    private Attendance att = new();
    private bool isAttendanceVisible = false;
    private int count = 0;
    private int seekers = 0;
    private DateOnly attDate { get; set; }

    //Toggle option
    private bool isOptionVisible = false;

    //Toggle edit
    private bool isEditMode = false;


    protected override async Task OnInitializedAsync()
    {
        Init();
        await getScheduleList();
        await GetAttendanceList();

    }

    //set the date to default today
    private void setDateToday()
    {
        month = DateTime.Now.Month;
        year = DateTime.Now.Year;
        dayNow = DateTime.Now.Day;

        SelectedMonth = month;
        SelectedYear = year;
        GenerateCalendar();
    }

    //show counts and seekers
    private void ToggleAttendance()
    {
        isAttendanceVisible = !isAttendanceVisible;
    }



    // Add or update attendance count for a specific date in an event
    private async Task AddOrUpdateAttendance(string schedId, DateOnly date, int count)
    {
        var existing = Attendances.FirstOrDefault(a => a.ScheduleId == schedId && a.Date == date);
        if (existing != null)
        {
            existing.Count = count;
        }
        else
        {
            var result = await _firestore.AddAttendanceAsync(att);

            if (result.Success)
            {
                await _js.InvokeVoidAsync("alert", "Attendance added successfully");
            }
            else
            {
                await _js.InvokeVoidAsync("alert", result.Error);
            }
        }
    }

    private string SwitchClass(string name)
    {
        return name switch
        {
            "Event" => "pill",
            "Weekly Program" => "pill2",
            "Service" => "pill3",
            _ => "pill"
        };
    }

    private void OnChangeDate()
    {
        eDate = sDate;
    }

    private void ToggleModal()
    {
        isAddModalVisible = !isAddModalVisible;
        isOptionVisible = false;
        isEditMode = true;
        isAttendanceVisible = false;
        title = "Add Schedule";
        sched = new();
        eventTitle = sched.Title;
        eventCategory = sched.Category;
        sDate = sched.StartDate;
        eDate = sched.EndDate;

    }

    private void ToggleView()
    {
        isAddModalVisible = !isAddModalVisible;
        isAttendanceVisible = false;
        isOptionVisible = false;
        isEditMode = false;
        title = "Add Schedule";
        sched = new();
    }

    //Toggle OPtion edit or remove
    private void ToggleOption()
    {
        isOptionVisible = !isOptionVisible;
    }

    //close option modal
    private void closeOption()
    {
        isOptionVisible = false;
    }

    private void ToggleUpdateUI()
    {
        title = "Update Details";
        isEditMode = true;
    }

    private void Init()
    {
        Months = Enumerable.Range(1, 12)
            .Select(m => new MonthOption(m, CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(m)))
            .ToList();

        int currentYear = DateTime.Now.Year;
        // Years = Enumerable.Range(currentYear - 5, 11).ToList();

        SelectedMonth = DateTime.Now.Month;
        SelectedYear = currentYear;

        GenerateCalendar();
    }

    //Get Attendance List
    private async Task GetAttendanceList()
    {
        var result = await _firestore.GetAttendanceAsync();

        if (result.Success)
        {
            Attendances = result.Data;
        }
        else
        {
            await _js.InvokeVoidAsync("alert", "Failed to get attendance list: " + result.Error);
        }
    }

    private async Task getScheduleList()
    {
        try
        {
            schedulesList = new();
            var result = await _firestore.GetScheduleAsync();

            if (result.Success)
            {
                schedulesList = result.Data;
            }
            else
            {
                await _js.InvokeVoidAsync("alert", result.Error);
            }
        }
        catch (Exception ex)
        {
            await _js.InvokeVoidAsync("alert", ex.Message);
        }
    }

    private async Task addEvent()
    {
        try
        {
            DateOnly date = sched.StartDate;
            DateOnly dateNow = DateOnly.FromDateTime(DateTime.Now);

            if (date > dateNow)
            {
                sched.Status = "Upcoming";
            }
            else if (date == dateNow)
            {
                sched.Status = "Ongoing";
            }
            else
            {
                sched.Status = "Ended";
            }

            sched.Title = eventTitle;
            sched.Category = eventCategory;
            sched.StartDate = sDate;
            sched.EndDate = eDate;

            var result = await _firestore.AddScheduleAsync(sched);
            if (result.Success)
            {
                await _js.InvokeVoidAsync("alert", "Schedule successfully added");
                ToggleModal();
                await getScheduleList();
            }
            else
            {
                await _js.InvokeVoidAsync("alert", result.Error);
            }

        }
        catch (Exception ex)
        {
            await _js.InvokeVoidAsync("alert", ex.Message);
        }
    }

    //View Schedule
    private async Task OpenEdit(string Id, DateOnly date)
    {
        ToggleView();
        title = "Details";
        attDate = date;
        var editEvent = schedulesList.FirstOrDefault(u => u.Id == Id);
        if (editEvent != null)
        {
            sched = editEvent;
            eventTitle = sched.Title;
            eventCategory = sched.Category;
            sDate = sched.StartDate;
            eDate = sched.EndDate;
        }
        else
        {
            await _js.InvokeVoidAsync("alert", "Event does not exist");
            await getScheduleList();
        }
    }



    private async Task updateEvent()
    {
        try
        {
            bool confirm = await _js.InvokeAsync<bool>("confirm", "Confirm changes?");
            if (!confirm) return;

            sched.Title = eventTitle;
            sched.Category = eventCategory;
            sched.StartDate = sDate;
            sched.EndDate = eDate;

            var result = await _firestore.UpdateScheduleAsync(sched.Id, sched);

            if (result.Success)
            {
                await _js.InvokeVoidAsync("alert", "Event successfuly updated");
                ToggleModal();
                GenerateCalendar();
            }
            else
            {
                await _js.InvokeVoidAsync("alert", "Failed to update: " + result.Error);
            }
        }
        catch
        {
            await _js.InvokeVoidAsync("alert", "Update Failed");
        }
    }

    private async Task removeSchedule(string Id)
    {
        bool confirmed = await _js.InvokeAsync<bool>("confirm", "Are you sure you want to delete this event?");
        if (!confirmed) return;

        try
        {
            var result = await _firestore.RemoveScheduleAsync(Id);
            if (result.Success)
            {
                await _js.InvokeVoidAsync("alert", "Successfully deleted");
                ToggleModal();
                await getScheduleList();
            }
            else
            {
                await _js.InvokeVoidAsync("alert", $"Error on deleting document: {result.Error}");
            }

        }
        catch (Exception ex)
        {
            await _js.InvokeVoidAsync("alert", $"Error on deleting document: {ex.Message}");
        }
    }

    private void GenerateCalendar()
    {
        CalendarWeeks.Clear();

        var firstDayOfMonth = new DateTime(SelectedYear, SelectedMonth, 1);
        var daysInMonth = DateTime.DaysInMonth(SelectedYear, SelectedMonth);

        int currentDay = 1;
        int startDayOfWeek = (int)firstDayOfMonth.DayOfWeek;

        var week = new List<int>();

        // Fill empty days before first day
        for (int i = 0; i < startDayOfWeek; i++)
        {
            week.Add(0);
        }

        // Fill actual days
        while (currentDay <= daysInMonth)
        {
            week.Add(currentDay);
            currentDay++;

            if (week.Count == 7)
            {
                CalendarWeeks.Add(week);
                week = new List<int>();
            }
        }

        // Fill remaining empty days
        if (week.Count > 0)
        {
            while (week.Count < 7)
            {
                week.Add(0);
            }
            CalendarWeeks.Add(week);
        }
    }

    private void PreviousMonthChanged()
    {
        month--;
        if (month < 1)
        {
            month = 12;
            year--;
        }
        SelectedMonth = month;
        SelectedYear = year;
        GenerateCalendar();
    }

    private void NextMonthChanged()
    {
        month++;
        if (month > 12)
        {
            month = 1;
            year++;
        }
        SelectedMonth = month;
        SelectedYear = year;
        GenerateCalendar();
    }

    private string GetMonthName()
    {
        return new DateTime(year,month,1).ToString("MMMM");
    }

    private void OnMonthChanged(int value)
    {
        SelectedMonth = value;
        GenerateCalendar();
    }

    private void OnYearChanged(int value)
    {
        SelectedYear = value;
        GenerateCalendar();
    }

    private bool HasEvent(DateOnly date) =>
        schedulesList.Any(e => date >= e.StartDate &&
                        date <= e.EndDate);

    private async Task AddOrUpdateAttendance(string schedId, DateOnly date)
    {
        var existing = Attendances.FirstOrDefault(a => a.ScheduleId == schedId && a.Date == date);
        if (existing != null)
        {
            existing.Count = count;
            existing.Seekers = seekers;

            var result = await _firestore.UpdateAttendanceAsync(existing.Id, existing);
            if (result.Success)
            {
                await GetAttendanceList();
                await _js.InvokeVoidAsync("alert", "Attendance saved successfully");
            }
            else
            {
                await _js.InvokeVoidAsync("alert", "Failed to save attendance: " + result.Error);
            }
        }
        else
        {
            att.ScheduleId = sched.Id;
            att.Count = count;
            att.Seekers = seekers;

            var result = await _firestore.AddAttendanceAsync(att);

            if (result.Success)
            {
                await GetAttendanceList();
                await _js.InvokeVoidAsync("alert", "Attendance saved successfully");
            }
            else
            {
                await _js.InvokeVoidAsync("alert", "Failed to save attendance: " + result.Error);
            }

        }
    }

}