@page "/test"
@inject IJSRuntime _js
@using GospelReachCapstone.Models
@inject GospelReachCapstone.Services.FirestoreService firestoreService

<h3>Test</h3>
<button class="btn btn-primary text-white" @onclick="GetList">Get List</button>

<table class="table">
    <thead>
        <tr>
            <th class="thead">Name</th>
            <th class="thead">Email</th>
            <th class="thead">Role</th>
            <th class="thead">Phone</th>
            <th class="thead">Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var items in accountList)
        {
            <tr class="table-row">
                <td class="table-cell" style="font-weight:500;">@items.firstName @items.lastName</td>
                <td class="table-cell c2">@items.email</td>
                <td class="table-cell c2">@items.role</td>
                <td class="table-cell c2">@items.contact</td>
                <td class="table-cell d-flex gap-2" style="padding: 24px 24px; border-bottom: none;">
                    <!--Edit-->
                    <div class="d-flex align-items-center justify-content-center gap-1w-auto border" style="border-radius: 10px; padding: 5px 12px;">
                        <a href="" class="text-decoration-none" style="font-size: 13px;"><span><i class="bi bi-pencil-square"></i></span> Edit</a>
                    </div>

                    <!--Delete-->
                    <button class="btn btn-danger text-white" style="border-radius: 10px; padding: 5px 12px; font-size:13px;"><span><i class="bi bi-trash text-white"></i></span>Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Accounts> accountList = new();

    private async Task GetList()
    {
        accountList = await firestoreService.GetAccountAsync();
    }
}
