@page "/user-management"
@layout LandingLayout
@using GospelReachCapstone.Models
@inject GospelReachCapstone.Services.FirebaseAuthenticationService Authentication
@inject GospelReachCapstone.Services.UserService _accountsServices
@inject IJSRuntime _js
@using System.Text.RegularExpressions
@using System.Globalization
@inject ToastService _toast


<PageTitle>Admin</PageTitle>


<div class="page">

    <!--Add User Model-->
    <div @onclick="ToggleModal" class="addUserModal @(isAddUserModalVisible ? "show" : "")">

        <!--Add/Update User-->
        <div hidden="@(!isAddUserModal)" class="addUser" @onclick:stopPropagation>
            <h4 class="fw-bold">
                @title
            </h4>
            <p style="font-size:14px;">Create and Manage Users and Access Control.</p>

            @if (title == "Add User")
            {
                <div class="input mt-3">
                    <p>Email</p>
                    <div class="pword mt-2">
                        <input @bind="user.Email" spellcheck="false" type="email" placeholder="Email" />
                    </div>
                </div>
            }

            <div class="input mt-3">
                <p>First Name</p>
                <div class="pword mt-2">
                    <input @bind="user.FirstName" spellcheck="false" type="text" placeholder="First Name" />
                </div>
            </div>

            <div class="input mt-3">
                <p>Middle Name</p>
                <div class="pword mt-2">
                    <input @bind="user.MiddleName" spellcheck="false" type="text" placeholder="Middle Name" />
                </div>
            </div>

            <div class="input mt-3">
                <p>Last Name</p>
                <div class="pword mt-2">
                    <input @bind="user.LastName" spellcheck="false" type="text" placeholder="Last Name" />
                </div>
            </div>
            
            <div class="input mt-3">
                <p>Role</p>
                <select @bind="user.Role" class="form-select p-2 mt-2">
                    <option value="Administrator">Administrator</option>
                    <option value="Pastor">Pastor</option>
                    <option value="Department Head - Senior">Department Head - Senior</option>
                    <option value="Department Head - Womens">Department Head - Womens</option>
                    <option value="Department Head - Mens">Department Head - Mens</option>
                    <option value="Department Head - Youth">Department Head - Youth</option>
                    <option value="Music Head">Music Head</option>
                    
                </select>
            </div>

            @if (validation.Any())
            {
                <div class="d-flex flex-column justify-content-between mt-3">
                    @foreach (string a in validation)
                    {
                        <p class="text-danger">@a</p>
                    }
                </div>
            }
            <div class="mt-3 @(isAdding ? "d-flex" : "d-none") align-items-center justify-content-center">
                <p>Saving record.Please wait...</p>


                <div class="d-flex gap-4 align-items-center justify-content-center mt-2">
                    <img src="/img/loading.svg" style="height:50px; width: 50px;" />
                </div>
            </div>

            @if (title == "Add User")
            {
                <div class="addOptions mt-5 d-block d-md-flex gap-2 justify-content-end">
                    <button class="btn p-2 px-4" style="border: 1px solid #dee2e6;" @onclick="ToggleModal">Cancel</button>
                    <button class="btn btn-primary p-2 px-4 text-white" @onclick="AddUser">Create</button>
                </div>
            }
            else
            {
                <div class="addOptions mt-5 d-block d-md-flex gap-2 justify-content-end">
                    <button class="btn p-2 px-4" style="border: 1px solid #dee2e6;" @onclick="ToggleModal">Cancel</button>
                    <button class="btn btn-primary p-2 px-4 text-white" @onclick="UpdateUser">Update</button>
                </div>
            }
            
        </div>

        <!--Loading Modal-->
        <div @onclick:stopPropagation hidden="@(!isLoadingModal)" class="helperModal">
            <div class="loading">
                <h1>Loading</h1>
                <p>Please wait...</p>

                <img src="/img/loading.svg" style="height:50px; width: 50px;" />
            </div>
        </div>

        <!--Confirm Modal-->
        <div @onclick:stopPropagation hidden="@(!isConfirmModal)" class="helperModal">
            <div class="confirm">
                <h1>@confirmTitle</h1>
                <p>@confirmMessage</p>
            </div>

            <div class="@(isUpdating ? "updating" : "dnone")">
                <p>@updatingMessage</p>
            </div>


            @if (confirmType == "success")
            {
                <div class="actions">
                    <button disabled="@(isUpdating)" class="btn p-2 px-5 fs-5" @onclick="ToggleModal" style="font-size: 13px; border: 1px solid #C7C7C7;">Cancel</button>
                    <button disabled="@(isUpdating)" class="btn btn-success text-white p-2 px-5 fs-5" @onclick="ResetPassword" style="font-size: 13px; border: 1px solid #dee2e6;">Reset</button>
                </div>
            }
            else if (confirmType == "disable")
            {
                <div class="actions">
                    <button disabled="@(isUpdating)" class="btn p-2 px-5 fs-5" @onclick="ToggleModal" style="font-size: 13px; border: 1px solid #C7C7C7;">Cancel</button>
                    <button disabled="@(isUpdating)" class="btn btn-danger text-white p-2 px-5 fs-5" @onclick="ResetPassword" style="font-size: 13px; border: 1px solid #dee2e6;">Disable</button>
                </div>
            }
            else
            {
                <div class="actions">
                    <button disabled="@(isUpdating)" class="btn p-2 px-5 fs-5" @onclick="ToggleModal" style="font-size: 13px; border: 1px solid #C7C7C7;">Cancel</button>
                    <button disabled="@(isUpdating)" class="btn btn-primary text-white p-2 px-5 fs-5" @onclick="ResetPassword" style="font-size: 13px; border: 1px solid #dee2e6;">Enable</button>
                </div>
            }
            

            
        </div>
    </div>

    <!--Header Section-->
    <div class="header d-block d-md-flex flex-md-row align-items-center justify-content-between mb-4">
        <div>
            <h4 class="m-0 fw-bold">User Management</h4>
            <p class="m-0 c2" style="font-size: 14px">Manage users and access controls.</p>
        </div>

        <div>
            <button class="btn btn-primary px-4 py-2 text-white" @onclick="OpenModal">Add User</button>
        </div>
    </div>

    <!--Table Section-->
    <div class="card w-100 mb-4 cards">

        <!--Search Section-->
        <div class="position-relative mb-4">
            <i class="bi bi-search position-absolute c2" style="top: .5rem; left: .75rem; font-size: 18px;"></i>
            <input @bind="searchedActivity" @bind:event="oninput" type="text" class="form-control border search" placeholder="Search by name, email, or role..."/>
        </div>
        
        <p class="mb-4 ms-1 @(isLoad ? "" : "d-none")"><em>@load</em></p>

        <div hidden="@(isLoad)" class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th class="thead">Email</th>
                        <th class="thead">Role</th>
                        <th class="thead">Status</th>
                        <th class="thead">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var items in FilteredUsers)
                    {
                        <tr class="table-row">
                            <td class="table-cell c2">@items.Email</td>
                            <td class="table-cell c2">@items.Role</td>
                            <td class="table-cell c2 fw-bold @(items.Status == "Active" ? "text-success" : "text-danger")">@items.Status</td>
                            <td class="table-cell d-flex gap-2" style="padding: 24px 24px; border-bottom: none;">
                                <!--Edit-->
                                <div class="d-flex align-items-center justify-content-center gap-1w-auto">
                                    <button class="btn p-2 px-4" @onclick="@(() => ToggleUpdateModal(items.Id))" style="font-size: 13px; border: 1px solid #dee2e6;"><i class="bi bi-pencil-square"></i> Update</button>
                                    @* <button class="btn btn-outline-light p-2 px-4" style="font-size: 13px;" ><span><i class="bi bi-pencil-square"></i></span> Update</button> *@
                                </div>

                                <!--Reset-->
                                <button @onclick="@(() => showConfirm("reset",items.Email))" class="btn btn-outline-danger text-danger p-2 px-4 btn-reset" style="font-size:13px;"><i class="bi bi-arrow-repeat text-danger"></i> Reset</button>

                                <!--Check account status-->
                                @if (items.Status != "Disabled")
                                {
                                    <!--Disable-->
                                    <button @onclick="@(() => showConfirm("disable",items.Id))" class="btn btn-danger text-white p-2 px-4" style="font-size:13px;"><i class="bi bi-trash text-white"></i>Disable</button>
                                }
                                else
                                {
                                    <!--Enable-->
                                    <button @onclick="@(() => showConfirm("enable",items.Id))" class="btn btn-primary text-white p-2 px-4" style="font-size:13px;"><i class="bi bi-trash text-white"></i>Enable</button>
                                }
                            </td>
                                
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code{
    TextInfo textInfo = CultureInfo.CurrentCulture.TextInfo;
    private List<string> validation = new();
    string pattern = @"^[^@\s]+@[^@\s]+\.[^@\s]+$";
    private string load = "Fetching Files...";
    private bool isLoad = false;
    private bool isValid = false;
    private bool isPasswordShow = false;
    private bool isAddUserModalVisible = false;
    private bool isAdding = false;
    private string title = "Add User";
    private User user = new();
    private List<User> accounts = new();
    private List<Member> memberList = new();
    private string memberId = string.Empty;
    private string role = "Administrator";
    private string member = string.Empty;
    private string searchedActivity = string.Empty;
    private IEnumerable<User> FilteredUsers => accounts.Where(u => string.IsNullOrWhiteSpace(searchedActivity) || u.FirstName.Contains(searchedActivity, StringComparison.OrdinalIgnoreCase) || u.Email.Contains(searchedActivity, StringComparison.OrdinalIgnoreCase) || u.Role.Contains(searchedActivity, StringComparison.OrdinalIgnoreCase) || u.Status.Contains(searchedActivity, StringComparison.OrdinalIgnoreCase)).ToList();

    //Data
    private string confirmType = string.Empty;
    private string confirmTitle = string.Empty;
    private string confirmMessage = string.Empty;
    private string updatingMessage = string.Empty;
    private bool isUpdating = false;
    private string data = string.Empty;

    //Modals
    private bool isAddUserModal = false;
    private bool isLoadingModal = false;
    private bool isConfirmModal = false;


    //On startup
    protected override async Task OnInitializedAsync()
    {
        isLoad = !isLoad;
        role = "Administrator";
        await GetUsers();
        isLoad = !isLoad;
    }

    //Get users List
    private async Task GetUsers()
    {
        var result = await _accountsServices.GetUserAccountsAsync();
        if (result.Success)
        {
            accounts = result.Data;
        }
        else
        {
            _toast.AddNotification("error", "Something went wrong","Failed to get Users");
            // await _js.InvokeVoidAsync("alert", result.Error);
        }
    }

    //Toggle Password
    private void TogglePassword()
    {
        isPasswordShow = !isPasswordShow;
    }

    private void OpenModal()
    {
        ToggleModal();
    }

    private async Task ToggleUpdateModal(string docId)
    {
        ToggleModal();
        isLoadingModal = true;
        var userRes = await _accountsServices.GetUserById(docId);
        if (userRes.Success)
        {
            var users = userRes.User;
            user = new();
            user = users;
            title = "Update User";
            isLoadingModal = false;
            isAddUserModal = true;
        }
        else
        {
            ToggleModal();
            _toast.AddNotification("error", "Something went wrong", "Failed to get User");
            // await _js.InvokeVoidAsync("alert", "An error occured");
        }

    }


    private void ToggleModal()
    {
        isAddUserModalVisible = !isAddUserModalVisible;
        isLoadingModal = false;
        isAddUserModal = false;
        isConfirmModal = false;
        isUpdating = false;
        data = string.Empty;

        // isAddUserModalVisible = !isAddUserModalVisible;
        // title = "Add User";
        // memberId = string.Empty;
        // isValid = false;
        // role = "Administrator";
    }

    private bool IsValidEmail(string email)
    {
        return Regex.IsMatch(email, pattern);
    }


    private async Task AddUser()
    {
        validation.Clear();
        isAdding = true;
        if (string.IsNullOrEmpty(user.Email))
        {
            validation.Add("-Email is required");
        }
        else
        {
            if (!IsValidEmail(user.Email))
            {
                validation.Add("-Invalid Email");
            }
        }


        if (string.IsNullOrEmpty(user.FirstName))
        {
            validation.Add("-First Name is required");
        }

        if (string.IsNullOrEmpty(user.FirstName))
        {
            validation.Add("-Last Name is required");
        }

        if (validation.Any())
        {
            isAdding = false;
            return;
        }

        var checkUser = await _accountsServices.GetUserAccountsAsync();
        if (checkUser.Success)
        {
            if (checkUser.Data != null)
            {
                var check = checkUser.Data.FirstOrDefault(u => u.Email == user.Email);
                if (check != null)
                {
                    validation.Add("-Email already exist");
                    isAdding = false;
                    return;
                }
            }

        }
        else
        {
            _toast.AddNotification("error", "Something went wrong", "Please try again");
            // await _js.InvokeVoidAsync("alert", "An error occured. Please try again later.");
            ToggleModal();
            return;
        }


        user.FirstName = textInfo.ToTitleCase(user.FirstName);
        if (user.MiddleName != null)
        {
            user.MiddleName = textInfo.ToTitleCase(user.MiddleName);
        }

        user.LastName = textInfo.ToTitleCase(user.LastName);
        user.Password = Authentication.GeneratePassword();
        var result = await Authentication.RegisterAsync(user);

        if (result.Success)
        {

            await OnResetPassword(user.Email); // Send reset password email
            _toast.AddNotification("success", "Account successfuly created", "A password reset link has ben sent to email");
            // await _js.InvokeVoidAsync("alert", "Account Successfully Created.\nA Password reset link has been sent to the email.");
            isAdding = false;
            user = new();
            memberId = string.Empty;
            accounts = new();
            role = "Administrator";
            await GetUsers();
            ToggleModal();
        }
        else
        {
            isAdding = false;
            _toast.AddNotification("error", "Something went wrong", "Failed to add user");
            // await _js.InvokeVoidAsync("alert", result.Message);
        }
    }

    private async Task OnResetPassword(string email)
    {
        try
        {
            var (success, message) = await Authentication.ResetPasswordAsync(email);
            if (!success)
            {
                _toast.AddNotification("error", "Something went wrong", "Error sending reset link");
                // await _js.InvokeVoidAsync("alert", $"Error sending password reset email: {message}");
            }
        }
        catch(Exception ex)
        {
            _toast.AddNotification("error", "Something went wrong", "Failed to reset. Please try again later.");
            // await _js.InvokeVoidAsync("alert", ex.Message);
        }
    }

    private void showConfirm(string type, string info)
    {
        confirmType = type;
        ToggleModal();
        isConfirmModal = true;
        data = info;
        switch (type)
        {
            case "reset":
                confirmTitle = "Confirm Reset";
                confirmMessage = "You are about to send reset link";
                updatingMessage = "Sending reset link...";
                break;
            case "disable":
                confirmTitle = "Confirm Disable";
                confirmMessage = "You are about to disable a user";
                updatingMessage = "Disabling user...";
                break;
            case "enable":
                confirmTitle = "Confirm Enable";
                confirmMessage = "You are about to enable a user";
                updatingMessage = "Enabling user...";
                break;
        }

    }

    private async Task ResetPassword()
    {
        isUpdating = true;

        try
        {
            var (success, message) = await Authentication.ResetPasswordAsync(data);
            if (!success)
            {
                ToggleModal();
                _toast.AddNotification("error", "Something went wrong", "Error sending reset link.");
                // await _js.InvokeVoidAsync("alert", $"Error sending password reset email: {message}");
            }
            else
            {
                ToggleModal();
                _toast.AddNotification("success", "Success", "A password reset link has been sent");
                // await _js.InvokeVoidAsync("alert", $"Successfully sent reset password link");
            }
        }
        catch (Exception ex)
        {
            ToggleModal();
            _toast.AddNotification("error", "Something went wrong", "Failed to reset. Please try again later.");
            // await _js.InvokeVoidAsync("alert", ex.Message);
        }
    }



    private async Task UpdateUser()
    {
        isAdding = true;
        if (string.IsNullOrEmpty(user.FirstName))
        {
            validation.Add("-First Name is required");
        }

        if (string.IsNullOrEmpty(user.FirstName))
        {
            validation.Add("-Last Name is required");
        }

        if (validation.Any())
        {
            isAdding = false;
            return;
        }
        user.FirstName = textInfo.ToTitleCase(user.FirstName);
        if (user.MiddleName != null)
        {
            user.MiddleName = textInfo.ToTitleCase(user.MiddleName);
        }
        user.LastName = textInfo.ToTitleCase(user.LastName);
        var updateRes = await _accountsServices.UpdateAccountAsync(user.Id, user);
        if (updateRes.Success)
        {
            isAddUserModalVisible = false; // Hide the modal after update
            isAdding = false;
            user = new();
            memberId = string.Empty;
            accounts = new();
            role = "Administrator";
            await GetUsers();
            _toast.AddNotification("success", "Success", "User updated successfully");
            // await _js.InvokeVoidAsync("alert", "User updated successfully");
        }
        else
        {
            isAdding = false;
            _toast.AddNotification("error", "Something went wrong", "Failed to update user, Try again later.");
            // await _js.InvokeVoidAsync("alert", updateRes.Error);
            return;
        }
    }

    private async Task DisableUser()
    {
        isUpdating = true;
        try
        {
            await _accountsServices.DisableAccountAsync(data);
            await GetUsers();
            ToggleModal();
            _toast.AddNotification("success", "Success", "User has been disabled");
            // await _js.InvokeVoidAsync("alert", "User disabled successfully");
        }
        catch (Exception ex)
        {
            ToggleModal();
            _toast.AddNotification("error", "Something went wrong", "Failed to disable. Try again later.");
            // await _js.InvokeVoidAsync("alert", $"Error disabling user: {ex.Message}");
            return;
        }
    }

    //Enable Accoubt
    private async Task EnableUser()
    {
        isUpdating = true;
        try
        {
            await _accountsServices.EnableAccountAsync(data);
            await GetUsers();
            ToggleModal();
            _toast.AddNotification("success", "Success", "User enabled successfully");
            // await _js.InvokeVoidAsync("alert", "User enabled successfully");
        }
        catch (Exception ex)
        {
            ToggleModal();
            _toast.AddNotification("error", "Something went wrong", "Failed to enable user. Try again later");
            // await _js.InvokeVoidAsync("alert", $"Error enabling user: {ex.Message}");
            return;
        }
    }
}