@page "/user-management"
@layout LandingLayout
@using GospelReachCapstone.Models
@inject GospelReachCapstone.Services.FirebaseAuthenticationService Authentication
@inject GospelReachCapstone.Services.UserService _accountsServices
@inject IJSRuntime _js



<PageTitle>Admin</PageTitle>


<div class="page">

    <!--Add User Model-->
    <div @onclick="ToggleAddUserModal" class="addUserModal @(isAddUserModalVisible ? "show" : "")">
        <div class="addUser" @onclick:stopPropagation>
            <h4 class="fw-bold">
                @title
            </h4>
            <p style="font-size:14px;">Create and Manage Users and Access Control.</p>

            @if (title == "Add User")
            {
                <div class="input mt-3">
                    <p>Email</p>
                    <div class="pword mt-2">
                        <input @bind="user.Email" type="email" placeholder="Email" />
                    </div>
                </div>
            }

            <div class="input mt-3">
                <p>First Name</p>
                <div class="pword mt-2">
                    <input @bind="user.FirstName" type="text" placeholder="First Name" />
                </div>
            </div>

            <div class="input mt-3">
                <p>Middle Name</p>
                <div class="pword mt-2">
                    <input @bind="user.MiddleName" type="text" placeholder="Middle Name" />
                </div>
            </div>

            <div class="input mt-3">
                <p>Last Name</p>
                <div class="pword mt-2">
                    <input @bind="user.LastName" type="text" placeholder="Last Name" />
                </div>
            </div>
            

            @* @if (title == "Add User")
            {
                <div class="input mt-3">
                    <p>Password</p>
                    <div class="pword mt-2">
                        <input @bind="user.Password" type="@(isPasswordShow ? "text" : "password")" placeholder="Password" />
                        <i @onclick="TogglePassword" class="@(isPasswordShow ? "bi bi-eye-slash" : "bi bi-eye")" style="cursor:pointer"></i>
                    </div>
                </div>
            } *@

            <div class="input mt-3">
                <p>Role</p>
                <select @bind="role" class="form-select p-2 mt-2">
                    <option value="Administrator">Administrator</option>
                    <option value="Pastor">Pastor</option>
                    <option value="Music Head">Music Head</option>
                    <option value="Department Head - Mens">Department Head - Mens</option>
                    <option value="Department Head - Homeleague">Department Head - Homeleague</option>
                    <option value="Department Head - Youth">Department Head - Youth</option>
                    <option value="Department Head - Finance">Department Head - Finance</option>
                </select>
            </div>

            @if (title == "Add User")
            {
                <div class="addOptions mt-5 d-block d-md-flex gap-2 justify-content-end">
                    <button class="btn p-2 px-4" style="border: 1px solid #dee2e6;" @onclick="ToggleAddUserModal">Cancel</button>
                    <button class="btn btn-primary p-2 px-4 text-white" @onclick="AddUser">Create</button>
                </div>
            }
            else
            {
                <div class="addOptions mt-5 d-block d-md-flex gap-2 justify-content-end">
                    <button class="btn p-2 px-4" style="border: 1px solid #dee2e6;" @onclick="ToggleAddUserModal">Cancel</button>
                    <button class="btn btn-primary p-2 px-4 text-white" @onclick="UpdateUser">Update</button>
                </div>
            }
            
        </div>
    </div>

    <!--Header Section-->
    <div class="header d-block d-md-flex flex-md-row align-items-center justify-content-between mb-4">
        <div>
            <h4 class="m-0 fw-bold">User Management</h4>
            <p class="m-0 c2" style="font-size: 14px">Manage users and access controls.</p>
        </div>

        <div>
            <button class="btn btn-primary px-4 py-2 text-white" @onclick="OpenModal">Add User</button>
        </div>
    </div>

    <!--Table Section-->
    <div class="card w-100 mb-4 cards">

        <!--Search Section-->
        <div class="position-relative mb-4">
            <i class="bi bi-search position-absolute c2" style="top: .5rem; left: .75rem; font-size: 18px;"></i>
            <input @bind="searchedActivity" @bind:event="oninput" type="text" class="form-control border search" placeholder="Search by name, email, or role..."/>
        </div>
        
        <p class="mb-4 ms-1 @(isLoad ? "" : "d-none")"><em>@load</em></p>

        <div hidden="@(isLoad)" class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th class="thead">Email</th>
                        <th class="thead">Role</th>
                        <th class="thead">Status</th>
                        <th class="thead">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var items in FilteredUsers)
                    {
                        <tr class="table-row">
                            <td class="table-cell c2">@items.Email</td>
                            <td class="table-cell c2">@items.Role</td>
                            <td class="table-cell c2 fw-bold @(items.Status == "Active" ? "text-success" : "text-danger")">@items.Status</td>
                            <td class="table-cell d-flex gap-2" style="padding: 24px 24px; border-bottom: none;">
                                <!--Edit-->
                                <div class="d-flex align-items-center justify-content-center gap-1w-auto">
                                    <button class="btn p-2 px-4" @onclick="@(() => ToggleUpdateModal(items.Id, items.Role))" style="font-size: 13px; border: 1px solid #dee2e6;"><i class="bi bi-pencil-square"></i> Update</button>
                                    @* <button class="btn btn-outline-light p-2 px-4" style="font-size: 13px;" ><span><i class="bi bi-pencil-square"></i></span> Update</button> *@
                                </div>

                                <!--Reset-->
                                <button @onclick="@(() => ResetPassword(items.Email))" class="btn btn-outline-danger text-danger p-2 px-4 btn-reset" style="font-size:13px;"><i class="bi bi-arrow-repeat text-danger"></i> Reset</button>

                                <!--Check account status-->
                                @if (items.Status != "Disabled")
                                {
                                    <!--Disable-->
                                    <button @onclick="@(() => DisableUser(items.Id))" class="btn btn-danger text-white p-2 px-4" style="font-size:13px;"><i class="bi bi-trash text-white"></i>Disable</button>
                                }
                                else
                                {
                                    <!--Enable-->
                                    <button @onclick="@(() => EnableUser(items.Id))" class="btn btn-primary text-white p-2 px-4" style="font-size:13px;"><i class="bi bi-trash text-white"></i>Enable</button>
                                }
                            </td>
                                
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code{
    private string load = "Fetching Files...";
    private bool isLoad = false;
    private bool isValid = false;
    private bool isPasswordShow = false;
    private bool isAddUserModalVisible = false;
    private string title = "Add User";
    private User user = new();
    private List<User> accounts = new();
    private List<Member> memberList = new();
    private string memberId = string.Empty;
    private string role = "Administrator";
    private string member = string.Empty;
    private string searchedActivity = string.Empty;
    private IEnumerable<User> FilteredUsers => accounts.Where(u => string.IsNullOrWhiteSpace(searchedActivity) || u.Email.Contains(searchedActivity, StringComparison.OrdinalIgnoreCase) || u.Role.Contains(searchedActivity, StringComparison.OrdinalIgnoreCase) || u.Status.Contains(searchedActivity, StringComparison.OrdinalIgnoreCase)).ToList();


    //On startup
    protected override async Task OnInitializedAsync()
    {
        isLoad = !isLoad;
        role = "Administrator";
        await GetUsers();
        isLoad = !isLoad;
    }

    //Get users List
    private async Task GetUsers()
    {
        var result = await _accountsServices.GetUserAccountsAsync();
        if (result.Success)
        {
            accounts = result.Data;
        }
        else
        {
            await _js.InvokeVoidAsync("alert", result.Error);
        }
    }

    //Toggle Password
    private void TogglePassword()
    {
        isPasswordShow = !isPasswordShow;
    }

    protected async Task OpenModal()
    {
        ToggleAddUserModal();
    }

    private async Task ToggleUpdateModal(string docId, string roles)
    {
        isAddUserModalVisible = !isAddUserModalVisible;
        role = roles;
        memberId = docId;
        title = "Update User";
    }


    private void ToggleAddUserModal()
    {
        isAddUserModalVisible = !isAddUserModalVisible;
        title = "Add User";
        memberId = string.Empty;
        isValid = false;
        role = "Administrator";
    }

    private async Task AddUser()
    {
        user.Role = role;
        user.Password = Authentication.GeneratePassword();
        var result = await Authentication.RegisterAsync(user);

        if (result.Success)
        {

            await OnResetPassword(user.Email); // Send reset password email
            await _js.InvokeVoidAsync("alert", "Account Successfully Created.\nA Password reset link has been sent to the email.");
            user = new();
            memberId = string.Empty;
            accounts = new();
            role = "Administrator";
            await GetUsers();
            ToggleAddUserModal();
        }
        else
        {
            await _js.InvokeVoidAsync("alert", result.Message);
        }
    }

    private async Task OnResetPassword(string email)
    {
        try
        {
            var (success, message) = await Authentication.ResetPasswordAsync(email);
            if (!success)
            {
                await _js.InvokeVoidAsync("alert", $"Error sending password reset email: {message}");
            }
        }
        catch(Exception ex)
        {
            await _js.InvokeVoidAsync("alert", ex.Message);
        }
    }

    private async Task ResetPassword(string email)
    {
        bool confirm = await _js.InvokeAsync<bool>("confirm", "Are you sure you want to reset password?");

        if (!confirm) return;
        try
        {
            var (success, message) = await Authentication.ResetPasswordAsync(email);
            if (!success)
            {
                await _js.InvokeVoidAsync("alert", $"Error sending password reset email: {message}");
            }
            else
            {
                await _js.InvokeVoidAsync("alert", $"Successfully sent reset password link");
            }
        }
        catch (Exception ex)
        {
            await _js.InvokeVoidAsync("alert", ex.Message);
        }
    }

    private async Task UpdateUser()
    {
        try
        {
            await _accountsServices.UpdateAccountAsync(memberId, role);
            isAddUserModalVisible = false; // Hide the modal after update
            user = new();
            memberId = string.Empty;
            accounts = new();
            role = "Administrator";
            await GetUsers();
            await _js.InvokeVoidAsync("alert", "User updated successfully");
        }
        catch (Exception ex)
        {
            await _js.InvokeVoidAsync("alert", $"Error updating user: {ex.Message}");
            return;
        }
    }

    private async Task DisableUser(string docId)
    {
        try
        {
            await _accountsServices.DisableAccountAsync(docId);
            await GetUsers();
            await _js.InvokeVoidAsync("alert", "User disabled successfully");
        }
        catch (Exception ex)
        {
            await _js.InvokeVoidAsync("alert", $"Error disabling user: {ex.Message}");
            return;
        }
    }

    //Enable Accoubt
    private async Task EnableUser(string docId)
    {
        try
        {
            await _accountsServices.EnableAccountAsync(docId);
            await GetUsers();
            await _js.InvokeVoidAsync("alert", "User enabled successfully");
        }
        catch (Exception ex)
        {
            await _js.InvokeVoidAsync("alert", $"Error enabling user: {ex.Message}");
            return;
        }
    }
}